.featureCard {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 2.5rem;
}

.featureIcon {
    height: 6rem;
    border: 0.7rem solid #00bc77;
    border-radius: 50%;
    padding: 1rem;
}

.featureTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #222;
    margin: 1.5rem 0 1.2rem 0;
}

.featureText {
    font-size: 1rem;
    color: #2c3e50;
}

/* //////////////////////////////////////////////// */

@media (max-width: 920px) {

    .featureCard {
        width: 100%;
        padding: 3rem;
        box-sizing: border-box;
    }

}