.transactionRaw {
    font-weight: bold;
    text-align: center;
    border: 2px solid #ccc;
}

.transactionCell {
    padding: 1rem 0.2rem;
}

.iconCell {
    /* width: 5%; */
    cursor: pointer;
}

/* .arrow {
    font-weight: bolder;
    cursor: pointer;
} */

.dateCell {
    /* width: 15%; */
    display: flex;
    flex-direction: column;
    align-items: start;
}

.dateCell p {
    padding: 0.5rem 0;
}

.dateCell span {
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

/* .descriptionCell {
    width: 40%;
}

.amountCell {
    width: 20%;
}

.balanceCell {
    width: 20%;
} */